@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-logo {
  font-family: var(--font-logo), sans-serif;
}
.geistSans{
  font-family: var(--font-geist-sans), sans-serif;
}

.geistMono{
  font-family: var(--font-geist-mono), sans-serif;
}

.poppins{
  font-family: var(--font-poppins), sans-serif;
}

code {
  background-color: #f5f5f5;
  color: #d63384;
  font-family: 'Courier New', Courier, monospace;
  padding: 2px 4px;
  border-radius: 4px;
}

pre {
  background-color: #2d2d2d;
  color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  white-space: pre-wrap; /* Allow wrapping */
  word-wrap: break-word; /* Break long words */
}


/* Loading Animation (Thumbnail) */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  transition: 2s ease;
  cursor: progress;
}
.wrapper:hover {
   transform: scale(1.2);
}
.text {
  color: white;
  font-weight: 800;
}
.dot {
  background: white;
  height: 0.65em;
  width: 0.65em;
  border-radius: 50%;
  animation: move 0.6s ease infinite;
}
@keyframes move {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

/* Loading Animation (btn) */
/* HTML: <div class="loader"></div> */
.loader {
  /* width: 60px; */
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

::-webkit-scrollbar{
  color: #ffffffdd;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #212121dd;
  border-radius: 10px;
}